body {
  background-color: rgb(231, 222, 222);
  font: 400 1em/1.38 Helvetica;
  color: rgb(189, 221, 221);
}

.content {
  position: absolute;
  top: 197px;
  left: 10%;
  z-index: 3;
  width: 80%;
  height: 303px;
  background-color: rgb(255, 255, 255);
}

.details {
  display: block;
  position: absolute;
  top: 106px;
  left: 0;
  z-index: 7;
  width: 100%;
  height: 108px;
  padding: 5px;
  border: 1px solid rgb(119, 119, 119);
  background-color: rgb(242, 242, 242);
  font-size: 1em;
  color: rgb(0, 0, 0);
  resize: none;
}

.form-box {
  position: absolute;
  top: 228px;
  left: 16.7777777777%;
  z-index: 8;
  width: 43.8888888888%;
  height: 217px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 83px;
  background-color: rgb(135, 112, 156);
}

.heading {
  position: absolute;
  top: 118px;
  left: 10.2065972222%;
  z-index: 2;
  font-size: 1.375em;
  line-height: 1.68;
  color: rgb(13, 1, 1);
}

.logo {
  position: absolute;
  top: 22px;
  left: 3.22%;
  z-index: 1;
  font-family: Cuprum;
  font-size: 2.125em;
  color: rgb(51, 234, 215);
}

.meet-details {
  position: absolute;
  top: 75px;
  left: 0.0531161473%;
  z-index: 6;
  font-size: 1em;
  line-height: 1.18;
  color: rgb(31, 97, 235);
}

.submit {
  display: block;
  position: absolute;
  top: 460px;
  left: 16.7777777777%;
  z-index: 9;
  width: 18.8211805555%;
  height: 31px;
  border: 2px solid rgb(54, 101, 20);
  border-radius: 3px;
  background-color: rgb(54, 101, 20);
  font-size: 1em;
  text-align: center;
  color: rgb(251, 255, 255);
}

.text {
  position: absolute;
  top: 46px;
  font-size: 1.125em;
  color: rgb(189, 221, 221);
}

.text-title {
  position: absolute;
  top: 0;
  left: 0.0531161473%;
  z-index: 4;
  font-size: 1em;
  line-height: 1.18;
  color: rgb(31, 97, 235);
}

.title {
  display: block;
  position: absolute;
  top: 26px;
  left: 0;
  z-index: 5;
  width: 62.3229461756%;
  height: 32px;
  padding: 0 10px;
  border: 1px solid rgb(201, 168, 168);
  background-color: rgb(242, 242, 242);
  font-size: 0.813em;
  color: rgb(0, 0, 0);
}

.text-1 {
  left: 83.1996527777%;
  z-index: 11;
}

.text-2 {
  left: 76.3993055555%;
  z-index: 10;
}