body {
  background-color: rgb(231, 222, 222);
  font: 400 1em/1.18 Helvetica;
  color: rgb(31, 97, 235);
}

.content {
  position: absolute;
  top: 197px;
  left: 10%;
  z-index: 3;
  width: 80%;
  height: 303px;
  background-color: rgb(255, 255, 255);
}

.form-box {
  position: relative;
  float: left;
  clear: both;
  z-index: 11;
  width: 27.3524305555%;
  height: 266px;
  margin: 154px 0 0 16.77778%;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 83px;
  background-color: rgb(135, 112, 156);
}

.heading {
  position: absolute;
  top: 118px;
  left: 10.2065972222%;
  z-index: 2;
  font-size: 1.375em;
  line-height: 1.68;
  color: rgb(13, 1, 1);
}

.logo {
  position: absolute;
  top: 22px;
  left: 3.22%;
  z-index: 1;
  font: 2.125em/1.38 Cuprum;
  color: rgb(51, 234, 215);
}

.submit {
  display: block;
  position: absolute;
  top: 235px;
  left: 0;
  z-index: 6;
  width: 68.5792004048%;
  height: 31px;
  border: 2px solid rgb(54, 101, 20);
  border-radius: 3px;
  background-color: rgb(54, 101, 20);
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  color: rgb(251, 255, 255);
}

.text {
  position: relative;
  float: left;
  margin-top: 46px;
  font-size: 1.125em;
  line-height: 1.38;
  color: rgb(189, 221, 221);
}

.text-to {
  position: absolute;
  top: 157px;
  left: 0.0759109311%;
  z-index: 9;
  font-size: 1em;
  color: rgb(31, 97, 235);
}

.from,
.title {
  position: absolute;
}

.to {
  display: block;
  position: absolute;
  top: 185px;
  left: 0;
  z-index: 10;
  width: 99.6647267206%;
  height: 32px;
  padding: 0 10px;
  border: 1px solid rgb(201, 168, 168);
  background-color: rgb(242, 242, 242);
  font-size: 0.813em;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.from-1 {
  display: block;
  top: 104px;
  left: 0;
  z-index: 8;
  width: 99.6647267206%;
  height: 32px;
  padding: 0 10px;
  border: 1px solid rgb(201, 168, 168);
  background-color: rgb(242, 242, 242);
  font-size: 0.813em;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.from-2 {
  top: 75px;
  left: 0.0759109311%;
  z-index: 5;
  font-size: 1em;
  color: rgb(31, 97, 235);
}

.text-1 {
  z-index: 12;
  margin-left: 75.88715%;
}

.text-2 {
  z-index: 13;
  margin-left: 1.19444%;
}

.title-1 {
  top: 0;
  left: 0.0759109311%;
  z-index: 7;
  font-size: 1em;
  color: rgb(31, 97, 235);
}

.title-2 {
  display: block;
  top: 28px;
  left: 0;
  z-index: 4;
  width: 99.6647267206%;
  height: 32px;
  padding: 0 10px;
  border: 1px solid rgb(201, 168, 168);
  background-color: rgb(242, 242, 242);
  font-size: 0.813em;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}