body {
  background-color: rgb(231, 222, 222);
  font: 400 1em/1.38 Helvetica;
  color: rgb(41, 24, 133);
}

.create-meeting {
  display: block;
  float: left;
  clear: both;
  width: 14.5555555555%;
  height: 37px;
  margin: 216px 0 0 10%;
  border: 2px double rgb(54, 101, 20);
  border-radius: 3px;
  background-color: rgb(54, 101, 20);
  font-size: 1em;
  text-align: center;
  color: rgb(251, 255, 255);
}

.desc-data1 {
  position: absolute;
  top: 255px;
  left: 13.1996527777%;
  z-index: 8;
  font-size: 0.875em;
  color: rgb(3, 1, 1);
}

.description {
  position: absolute;
  top: 0;
  left: -0.0364023298%;
  z-index: 4;
  font-size: 1em;
  font-weight: 700;
  color: rgb(41, 24, 133);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 83px;
  background-color: rgb(135, 112, 156);
}

.heading {
  position: absolute;
  top: 109px;
  left: 12%;
  z-index: 2;
  font-size: 1.375em;
  line-height: 1.68;
  color: rgb(13, 1, 1);
}

.home {
  position: absolute;
  top: 0;
  left: -0.4174248101%;
  z-index: 11;
  font-size: 1.125em;
  color: rgb(189, 221, 221);
}

.logo {
  position: absolute;
  top: 22px;
  left: 3.2204861111%;
  z-index: 1;
  font-family: Cuprum;
  font-size: 2.125em;
  color: rgb(51, 234, 215);
}

.menu {
  position: absolute;
  top: 46px;
  left: 70.9756944444%;
  z-index: 13;
  width: 16.1736111111%;
  height: 24px;
}

.options {
  position: absolute;
  top: 0;
  left: 89.1745071684%;
  z-index: 6;
  font-size: 1em;
  font-weight: 700;
  color: rgb(41, 24, 133);
}

.record-time {
  position: absolute;
  top: 0;
  left: 38.3281601198%;
  z-index: 12;
  font-size: 1.125em;
  color: rgb(189, 221, 221);
}

.update-data1 {
  position: relative;
  float: left;
  clear: both;
  z-index: 9;
  margin: 16px 0 0 44.3316%;
  font-size: 0.875em;
  color: rgb(3, 1, 1);
}

.updatement {
  position: absolute;
  top: 0;
  left: 42.5067204301%;
  z-index: 5;
  font-size: 1em;
  font-weight: 700;
  color: rgb(41, 24, 133);
}

.content-1 {
  position: absolute;
  top: 188px;
  left: 10%;
  z-index: 3;
  width: 80%;
  height: 285px;
  background-color: rgb(255, 255, 255);
}

.content-2 {
  position: relative;
  float: left;
  z-index: 7;
  width: 71.5555555555%;
  height: 33px;
  margin: 202px 0 0 13.22049%;
  padding: 5px;
}