body {
  background-color: rgb(255, 255, 255);
  font: 400 1.125em/1.38 Helvetica;
  color: rgb(10, 249, 231);
}

.email {
  display: block;
  position: absolute;
  top: 143px;
  left: 0;
  z-index: 5;
  width: 99.3808049535%;
  height: 36px;
  padding: 0 10px;
  border: 1px solid rgb(60, 202, 200);
  background-color: rgb(242, 242, 242);
  font-size: 0.778em;
  color: rgb(220, 125, 125);
}

.firstname {
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  z-index: 2;
  width: 38.080495356%;
  height: 36px;
  padding: 0 10px;
  border: 2px solid rgb(60, 202, 200);
  background-color: rgb(242, 242, 242);
  font-size: 0.778em;
  color: rgb(220, 125, 125);
}

.heading {
  position: absolute;
  top: 90px;
  left: 44.4444444444%;
  z-index: 1;
  font-size: 1.667em;
  line-height: 1.58;
  text-align: center;
  color: rgb(106, 84, 84);
}

.lastname {
  display: block;
  position: absolute;
  top: 3px;
  left: 70.5882352941%;
  z-index: 8;
  width: 29.4117647058%;
  height: 36px;
  padding: 0 10px;
  border: 2px solid rgb(60, 202, 200);
  background-color: rgb(242, 242, 242);
  font-size: 0.778em;
  color: rgb(220, 125, 125);
}

.mname {
  display: block;
  position: absolute;
  top: 2px;
  left: 39.6284829721%;
  z-index: 6;
  width: 29.4117647058%;
  height: 36px;
  padding: 0 10px;
  border: 2px solid rgb(60, 202, 200);
  background-color: rgb(242, 242, 242);
  font-size: 0.778em;
  color: rgb(220, 125, 125);
}

.password {
  display: block;
  position: absolute;
  top: 97px;
  left: 0;
  z-index: 4;
  width: 99.3808049535%;
  height: 36px;
  padding: 0 10px;
  border: 2px solid rgb(60, 202, 200);
  background-color: rgb(242, 242, 242);
  font-size: 0.778em;
  color: rgb(220, 125, 125);
}

.register {
  position: absolute;
}

.register-box {
  position: relative;
  float: left;
  z-index: 9;
  width: 41.3333333333%;
  height: 271px;
  margin: 175px 0 0 30.77778%;
}

.register-box .register {
  display: block;
  top: 193px;
  left: 0;
  z-index: 7;
  width: 99.3808049535%;
  height: 36px;
  border-radius: 3px;
  background-color: rgb(45, 90, 140);
  font-size: 1em;
  text-align: center;
  color: rgb(10, 249, 231);
}

.username {
  display: block;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 3;
  width: 99.3808049535%;
  height: 36px;
  padding: 0 10px;
  border: 2px solid rgb(60, 202, 200);
  background-color: rgb(242, 242, 242);
  font-size: 0.778em;
  color: rgb(220, 125, 125);
}

.register-1 {
  top: 68px;
  left: 23.6666666666%;
  width: 54.4444444444%;
  height: 431px;
  background-color: rgb(222, 222, 222);
}